body {
    background-color: rgb(0, 0, 16);
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

#name {
    font-size: 60px;
    /* background-image: linear-gradient(to right, #08007a, #4686ff, #a600ff, #4686ff, #08007a); */
    /* background-image: linear-gradient(to right, #08007a, #4686ff, #eac58e, #4686ff, #08007a); */
    /* background-image: linear-gradient(to right, #08007a, #4686ff, #43cea2 , #4686ff, #08007a); */
    background-image: linear-gradient(to right, #01238b, #337aff, #43cea2 , #337aff, #01238b);
    background-size: 200% auto;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: moveGradient 20s linear infinite, fadeIn 2s ease-out forwards;
    margin: 0px;
    opacity: 0; /* Start with 0 opacity */
}

@keyframes moveGradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


@keyframes typewriter{
    from { width: 0; }
    to { width: 14em; }
}


#typewriter {
    font-size: 2em;
    overflow: hidden;
    border-right: 0.1em solid white;  /* Updated cursor color */
    white-space: nowrap;
    margin: 0 auto;
    display: inline-block;
    animation: blinkTextCursor 1000ms steps(50) infinite normal, fadeIn 2s ease-out forwards;
    text-align: center;
    margin: 0;
}

@keyframes blinkTextCursor {
    0%, 100% { border-right-color: solid white; }
    50% { border-right-color: transparent; }
}

@keyframes blinkTextCursorLight {
    0%, 100% { border-right-color: solid black; }
    50% { border-right-color: transparent; }
}

.centered {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-container {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    justify-content: center; /* Centers items horizontally */
    gap: 20px; /* Space between the image and the name-typewriter text block */
    width:100%;
}

.profile-container > div {
    display: flex;
    flex-direction: column; /* Stack name and typewriter text vertically */
    align-items: center; /* Center-align the text block (name and typewriter) */
    gap: 20px; /* Space between the name and the typewriter text */
    width: 100%;
    text-align: left;
}

/* .profile-container > div {
    align-items: flex-start;
    text-align: left;
} */

#profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.text-section {
    max-width: 740px; /* Limit the width for better readability */
    margin-top: 10px; 
    text-align: left; /* Align text to the left */
    animation: fadeIn 2s ease-out forwards;
}

.text-section p {
    font-size: 16px;
    line-height: 1.6; /* Improve line spacing for readability */
}

a {
    color: #1e66d4; 
    color: #fff; 
    text-decoration: underline; /* This underlines the hyperlink */
}

/* h2 {
    margin-bottom: 0px;
    padding-bottom:0px;
} */

li {
    font-size: 16px;
    line-height: 2; /* Improve line spacing for readability */ 
} 

.button{
    margin :10px;
    padding : 10px;
    border-width: 1px;
    background-color: rgb(0, 0, 18);
    color:#fff;
    border-color: #fff;
    font-weight: bold;
}


@media (prefers-color-scheme: light) {
    body {
        background-color: #fbfbfb; /* Light background for light mode */
        color: #000; /* Dark text for light mode */
    }
    a {
        color : #000;
    }
    #typewriter {
        border-right: 0.1em solid #000; /* Black cursor for light mode */
    }
}


/* Responsive adjustments for screens smaller than 768px (like mobile devices) */
@media screen and (max-width: 768px) {
    .profile-container {
        flex-direction: column; /* Stack elements vertically on small screens */
        align-items: center;
        padding-left: 0px;
    }

    #profile-pic {
        width: 150px; /* Smaller image size */
        height: 150px;
    }

    .text-section {
        max-width: 100%; /* Full width on small screens */
        padding: 25px; 
    }

    #name {
        font-size: 50px; /* Smaller font size */
    }

    #typewriter {
        /* Adjust the keyframes to have a black cursor */
        animation: blinkTextCursorLight 1000ms steps(50) infinite normal;
    }

}