body {
    /* background-color: rgb(0, 0, 16); */
    background-color: #060b14;
    color: #cecece;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    /* font-family: Poppins, sans-serif; */
    /* font-family: 'Open Sans', Arial, sans-serif; */
    /* font-family: 'Roboto', Arial, sans-serif; */
    /* font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; */

}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#name {
    font-size: 60px;
    background-image: linear-gradient(45deg, #01238b, #337aff, #43cea2 , #337aff, #01238b);
    background-size: 200% auto;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: moveGradient 20s linear infinite, fadeIn 2s ease-out forwards;
    margin: 0px;
    opacity: 0; /* Start with 0 opacity */
}

@keyframes moveGradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


@keyframes typewriter{
    from { width: 0; }
    to { width: 14em; }
}


#typewriter {
    font-size: 2em;
    overflow: hidden;
    border-right: 0.1em solid white;  /* Updated cursor color */
    white-space: nowrap;
    margin: 0 auto;
    display: inline-block;
    animation: blinkTextCursor 1000ms steps(50) infinite normal, fadeIn 2s ease-out forwards;
    text-align: center;
    color: #fff;
    /* margin: 0; */
}

@keyframes blinkTextCursor {
    0%, 100% { border-right-color: solid white; }
    50% { border-right-color: transparent; }
}

@keyframes blinkTextCursorLight {
    0%, 100% { border-right-color: solid black; }
    50% { border-right-color: transparent; }
}

.centered {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-container {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    justify-content: center; /* Centers items horizontally */
    width:100%;
}

.profile-container > div {
    display: flex;
    flex-direction: column; /* Stack name and typewriter text vertically */
    align-items: center; /* Center-align the text block (name and typewriter) */
    gap: 20px; /* Space between the name and the typewriter text */
    width: 100%;
    text-align: left;
}


#profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: 0 0 50px 3px #0c2147; 
}


.text-section {
    max-width: 800px; /* Limit the width for better readability */
    margin-top: 20px; 
    text-align: left; /* Align text to the left */
    animation: fadeIn 2s ease-out forwards;
}

.text-section p {
    font-size: 1.1em;
    line-height: 1.7; /* Improve line spacing for readability */
}

a {
    color: #fff; 
    text-decoration: underline;
}

h2 {
    color: #fff
}

a:hover {
    color:#1e66d4;
}

/* h2 {
    margin-bottom: 0px;
    padding-bottom:0px;
    font-size: 1.6em;
} */

li {
    font-size: 1.1em;
    line-height: 1.9em; /* Improve line spacing for readability */ 
} 

.button{
    margin :10px;
    padding : 10px;
    border-width: 1px;
    background-color: rgb(0, 0, 18);
    color:#fff;
    border-color: #fff;
    font-weight: bold;
}


@media (prefers-color-scheme: light) {
    body {
        background-color: #fbfbfb; /* Light background for light mode */
        color: #4b4b4b; /* Dark text for light mode */
    }
    a {
        color : #000;
    }
    h2 {
        color: #000
    }
    #typewriter {
        border-right: 0.1em solid #000; /* Black cursor for light mode */
        color: #000
    }
    #profile-pic {
        box-shadow: 0 0 50px 3px #d8e4ff; 
    }
}


/* Responsive adjustments for screens smaller than 768px (like mobile devices) */
@media screen and (max-width: 768px) {
    .profile-container {
        flex-direction: column; /* Stack elements vertically on small screens */
        align-items: center;
        padding-left: 0px;
    }

    #profile-pic {
        width: 200px; /* Smaller image size */
        height: 200px;
    }

    .text-section {
        max-width: 100%; /* Full width on small screens */
        padding-left: 25px; 
        padding-right: 25px; 
        margin-top: 10px;
    }

    .text-section p {
        font-size: 1.1em;
        line-height: 1.9em;
    }

    .text-section #social-links{
        text-align: center; /* Center the social links */
        margin-bottom: 25px;
    }

    #name {
        font-size: 50px; /* Smaller font size */
    }

    #typewriter {
        /* Adjust the keyframes to have a black cursor */
        animation: blinkTextCursorLight 1000ms steps(50) infinite normal;
        margin-bottom: 0px;
    }

    .profile-container {
        gap: 30px; /* Space between the image and the name-typewriter text block */
    }

}





.ring {
    margin: 75px;
    position: relative;
    width: 200px; 
    height: 200px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.ring i {
    position: absolute;
    inset: 0;
    border: 1px solid #999;
    transition: 0.5s;
    border: 3px solid var(--clr);
    filter: drop-shadow(0 0 25px var(--clr));
}

.ring i:nth-child(1) {
    border-radius: 28% 62% 63% 37% / 41% 44% 56% 59%; 
    animation: animate 10s linear infinite;
}

.ring i:nth-child(2) {
    border-radius: 41% 44% 56% 59% / 38% 62% 63% 37%;
    animation: animate2 6s linear infinite;
}

.ring i:nth-child(3){
    border-radius: 41% 44% 56% 59% / 38% 62% 63% 37%; 
    animation: animate2 4s linear infinite;
}

/* .ring i {
    border: 3px solid var(--clr);
    filter: drop-shadow(0 0 25px var(--clr));
} */

.ring p{
    font-size: 0.9em;
    line-height: 1.5;
    margin: 0;
}


@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate2 {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform:rotate(0deg);
    }
}